{% extends 'home/base.html' %}

{% block title %}Bazaar{% endblock %}

{% block content %}
<div class="container" style="padding-top: 50px;">
	<div class="row pb-3 border-bottom">
		<div class="col">
			<h1 class="text-condensed">🛒 Ordering Requests</h1>
			<h4>You can manage all your ordering requests here.</h4>
			<button class="btn btn-secondary text-uppercase" onclick="location.reload()"><i
					class="fas fa-sync-alt"></i> Refresh</button>
		</div>
	</div>
</div>
<div class="container-fluid" style="width: 90vw; padding-top: 30px; padding-bottom: 30px;">
	<div class="row mx-auto">
		<div class="col-12 col-lg-4">
			<h2 class="text-center text-condensed mb-3">📝 Actions</h2>
			<div class="card shadow mb-4 text-center">
				<div class="card-body">
					<h1 class="display-2 text-success"><i class="fas fa-plus-circle"></i></h1>
					<a href="/requests/create" class="text-success stretched-link">Create Order</a>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-4">
			<h2 class="text-center text-condensed mb-3">📬 Incoming Requests</h2>
			{% for request in incoming_requests %}
			<div class="card shadow mb-4">
				<div class="card-body">
					<div class="mb-2">
						{% if request.status == 'DONE' %}
						<h5 class="text-condensed text-success"><i class="fas fa-check-circle"></i> Done</h5>
						{% elif request.status == 'ACCEPTED' %}
						<h5 class="text-condensed text-warning"><i class="fas fa-hourglass-half"></i> Accepted</h5>
						{% elif request.status == 'REJECTED' %}
						<h5 class="text-condensed text-danger"><i class="fas fa-times-circle"></i> Rejected</h5>
						{% elif request.status == 'WITHDRAWN' %}
						<h5 class="text-condensed text-danger"><i class="fas fa-undo-alt"></i> Withdrawn</h5>
						{% elif request.status == 'PENDING' %}
						<h5 class="text-condensed"><i class="fas fa-hourglass-start"></i> Pending</h5>
						{% endif %}
					</div>
					<h3 class="text-condensed">{{ request.title }}</h3>
					<h5 class="card-title">From: {{ request.request_from.first_name }}
						{{ request.request_from.last_name }} ({{request.request_from}})</h5>
					<h6 class="card-subtitle mb-2 text-secondary text-uppercase text-condensed">
						{{ request.creation_timestamp }}</h6>
					{% if request.address %}
					<img src="https://maps.googleapis.com/maps/api/staticmap?markers=color:red|{{ request.address }}&zoom=15&size=1024x1024&key={{ GOOGLE_MAPS_STATIC_KEY }}"
						class="card-img" alt="Maps Preview">
					{% endif %}
					<div class="alert alert-warning mt-3">
						<p class="card-text">{{ request.order_body|linebreaks }}</p>
					</div>
				</div>
				<div class="card-footer">
					<a href="item/{{ request.pk }}" class="btn text-uppercase btn-sm btn-primary">📓
						View More</a>
					{% if request.status == 'PENDING' %}
					<a href="item/{{ request.pk }}/accept" class="btn text-uppercase btn-sm btn-success">👍 Accept</a>
					<a href="item/{{ request.pk }}/reject" class="btn text-uppercase btn-sm btn-danger">👎 Reject</a>
					{% elif request.status == 'ACCEPTED' %}
					<a href="item/{{ request.pk }}/done" class="btn text-uppercase btn-sm btn-success">👍 Mark as
						Done</a>
					{% endif %}
				</div>
			</div>
			{% empty %}
			<div class="alert alert-info">
				<h4 class="text-condensed">No Incoming Requests</h4>
			</div>
			{% endfor %}
		</div>
		<div class="col-12 col-lg-4">
			<h2 class="text-center text-condensed mb-3">📨 Outgoing Requests</h2>
			{% for request in outgoing_requests %}
			<div class="card shadow mb-4">
				<div class="card-body">
					<div class="mb-2">
						{% if request.status == 'DONE' %}
						<h5 class="text-condensed text-success"><i class="fas fa-check-circle"></i> Done</h5>
						{% elif request.status == 'ACCEPTED' %}
						<h5 class="text-condensed text-warning"><i class="fas fa-hourglass-half"></i> Accepted</h5>
						{% elif request.status == 'REJECTED' %}
						<h5 class="text-condensed text-danger"><i class="fas fa-times-circle"></i> Rejected</h5>
						{% elif request.status == 'WITHDRAWN' %}
						<h5 class="text-condensed text-danger"><i class="fas fa-undo-alt"></i> Withdrawn</h5>
						{% elif request.status == 'PENDING' %}
						<h5 class="text-condensed"><i class="fas fa-hourglass-start"></i> Pending</h5>
						{% endif %}
					</div>
					<h3 class="text-condensed">{{ request.title }}</h3>
					<h5 class="card-title">To: {{ request.request_to.first_name }}
						{{ request.request_to.last_name }} ({{request.request_to}})</h5>
					<h6 class="card-subtitle mb-2 text-secondary text-uppercase text-condensed">
						{{ request.creation_timestamp }}</h6>
					{% if request.address %}
					<img src="https://maps.googleapis.com/maps/api/staticmap?markers=color:red|{{ request.address }}&zoom=15&size=1024x1024&key={{ GOOGLE_MAPS_STATIC_KEY }}"
						class="card-img" alt="Maps Preview">
					{% endif %}
					<div class="alert alert-warning mt-3">
						<p class="card-text">{{ request.order_body|linebreaks }}</p>
					</div>
				</div>
				<div class="card-footer">
					<a href="item/{{ request.pk }}" class="btn text-uppercase btn-sm btn-primary">📓
						View More</a>
					{% if request.status == 'PENDING' %}
					<a href="item/{{ request.pk }}/withdraw" class="btn text-uppercase btn-sm btn-danger">Withdraw</a>
					{% endif %}
				</div>
			</div>
			{% empty %}
			<div class="alert alert-info">
				<h4 class="text-condensed">No Outgoing Requests</h4>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}